*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test */
    /* border: 1px solid red; */
}
/* reset */

body{
    font-family: 'Nunito', 'sans-serif';
}

main{
    width: 70%;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

h1{
    padding: 20px;

    color: #E53170;
}

p{
    margin-bottom: 40px;
}

/* sezione cards */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.row .column{
    margin-bottom: 50px;
    padding: 0 15px;

    width: calc(100% / 3);

    float: left;

    text-align: left;
}

.row .column .card{
    background-color: #0F0E17;
    color: white;

    box-shadow: 2px 5px 5px #7F7F83;
}

.row .column .card img{
    float: left;

    width: 100px;
}

.row .column .card .card-description{
    padding: 14px;

    float: left;
}

.row .column .card .card-description .name{
    font-weight: bold;
}

.row .column .card .card-description a{
    color: #38C3EC;

    text-decoration: none;
}

/* fine sezione cards */

