*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'Nunito', 'sans-serif';
}

main{
    width: 70%;

    margin-left: auto;
    margin-right: auto;

    /* text-align: center; */
}

h1{
    padding: 20px;

    color: #E53170;
}

p{
    padding: 20px;
}

/* sezione cards */

.cards-row{
    padding-top: 20px;
}

.card{
    float: left;

    width: calc(100% / 3);
    height: 100px;

    padding: 0 16px;

    /* border: 1px solid green; */

    /* background-color: #0F0E17; */
    /* color: white; */
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


.card img{
    height: 100px;

    float: left;
}

.profile{
    /* float: left; */

    /* padding: 10px; */

    text-align: left;

    background-color: #0F0E17;
    color: white;
}

.profile div{
    margin-bottom: 5px;
}

.profile .name{
    font-weight: bold;
}


.profile a{
    color: #17CCF2;
}

/* fine sezione cards */

